@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
* {
  font-family: Open Sans; }

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline; }

.footer-distributed {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  background-color: #60374b; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

/* Footer left */
.footer-distributed .footer-left {
  width: 40%; }

/* The company logo */
.footer-distributed h3 {
  color: black;
  font: normal 36px 'Open Sans', cursive;
  margin: 0; }

.footer-distributed h3 span {
  color: lightseagreen; }

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit; }

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%; }

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; }

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px; }

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2; }

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none; }

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px; }

.footer-distributed .footer-links .link-1:before {
  content: none; }

.footer-distributed .footer-right {
  width: 20%; }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px; }

.footer-distributed .footer-icons {
  margin-top: 25px; }

.footer-distributed .footer-icons a {
  display: inline-block;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif; }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }
  .footer-distributed .footer-center i {
    margin-left: 0; } }

.navbar {
  text-align: left; }
  .navbar .navbar > .container,
  .navbar .navbar > .container-fluid,
  .navbar .navbar > .container-lg,
  .navbar .navbar > .container-md,
  .navbar .navbar > .container-sm,
  .navbar .navbar > .container-xl,
  .navbar .navbar > .container-xxl {
    background-color: #b98aa0 !important; }

.btn-primary {
  background-color: #60374b !important; }

body {
  background-image: url(../multimedia/fondo2.png) !important;
  background-position-x: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-position: center; }

h4,
h6 {
  text-align: center; }

.contactoPie {
  padding: 30px;
  margin-right: 50px;
  margin-left: 50px;
  text-align: start; }

.container-slide {
  background-attachment: none;
  background-image: url(../multimedia/crochetbaner.png);
  background-position: 0 -200px;
  background-size: cover;
  height: 380px;
  margin-top: 25px;
  background-position: center; }

.form-control-sm, .mb-3, .form-floating > label {
  margin-left: 10px;
  margin-right: 150px;
  margin-bottom: 30px;
  align-items: center; }

main {
  margin: 45px; }

.img {
  text-align: end; }

.margins {
  margin-bottom: 10px;
  margin-top: 10px; }

a {
  color: black; }

.Info {
  display: inline-block; }

h1 {
  background-color: #b98aa0;
  padding: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.sobrenosotros {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: initial;
  align-items: right; }

blockquote {
  text-align: right; }

.container2 {
  height: 80%;
  width: 90%; }

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.w-100 {
  width: 400px !important;
  height: 400px !important; }

.element.style {
  width: 350px; }

.card {
  background-color: #ffe5f0; }

@media only screen and (max-width: 700px) {
  .container-slide {
    background-attachment: fixed;
    background-image: url(../multimedia/crochetbaner.png);
    background-size: cover;
    background-position: center; }
  .contactoPie {
    padding: 30px;
    margin-right: 25px;
    margin-left: 25px;
    text-align: start; } }
